# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\go\pkg.go.dev\pkg.go.dev-go.admin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
